html {
    scroll-padding-top:120px;
    scroll-behavior: smooth;
}
body {
    background:black;
    color:white;
    padding-top:120px;
    scroll-behavior: smooth;
}
a.nav-link {
    height:100px;
    padding-top:35px;
    vertical-align: middle;
    color:rgb(195, 54, 11);
    background-color:none;
    transition: all 0.5s linear; /* vendorless fallback */
    -o-transition: all 0.5s linear; /* opera */
    -ms-transition: all 0.5s linear; /* IE 10 */
    -moz-transition: all 0.5s linear; /* Firefox */
    -webkit-transition: all 0.5s linear; /*safari and chrome */
}
a.nav-link:hover {
    color:white;
    background-color:rgb(195, 54, 11);
    transition: .8s;
}
a.nav-link:active {
    color:white;
    background-color:rgb(195, 54, 11);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:white;
    background-color:rgb(195, 54, 11);
}
.card-title {
    color:rgb(195, 54, 11);
}
.card-text {
    max-width: 30rem;
    color:rgb(195, 54, 11);
}
.btn-primary {
    background-color:rgb(195, 54, 11);
    border-color:rgb(244, 93, 47);
    transition: all 0.5s linear; /* vendorless fallback */
    -o-transition: all 0.5s linear; /* opera */
    -ms-transition: all 0.5s linear; /* IE 10 */
    -moz-transition: all 0.5s linear; /* Firefox */
    -webkit-transition: all 0.5s linear; /*safari and chrome */
}
.btn-primary:hover {
    background-color:rgb(244, 93, 47);
    border-color:rgb(244, 93, 47);
    transition: .3s;
}
.btn-primary:focus{
    color: #fff;
    background-color: rgb(244, 93, 47);
    border-color: rgb(244, 93, 47);
    box-shadow:  0px 0px 3px 3px rgba(244, 93, 47, 0.503);
}
.btn-primary:active {
    color: #fff;
    background-color: rgb(244, 93, 47);
    border-color: rgb(244, 93, 47);
    box-shadow:  0px 0px 3px 3px rgba(244, 93, 47, 0.503);
}
.card--textBlock {
    max-width:fit-content;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.413);
    border-radius: 5px 5px 5px 5px;
    background-color:rgba(255, 255, 255, 0.5);
}
.card--textBlock h1.card-title {
    color:rgb(195, 54, 11);
}
.section-header {
    display:block;
    margin-bottom: 100px;
    margin-top:25px;
}
.features--color {
background-color: rgb(195, 54, 11);
}
.features--color h2 {
    color:white;
}
.features--ico {
    float:left;
}
h2 {
  color:rgb(195, 54, 11);  
}
h5.card-title {
    color:rgb(195, 54, 11);
}
.modal-title {
    color:rgb(195, 54, 11);
}
.ico--color {
    color:rgb(195, 54, 11);
}
.card {
    border: 1px solid rgb(195, 54, 11);
    margin:7px;
}
.card-body p {
    color:white;
}
.card-title {
    color:white;
}
.card-img-overlay.overlay--hover {
    display: none;
    background-color:rgba(0, 0, 0, 0.3);
}
/* eye button */
button.btn.eye--btn {
    color:white;
    border-color:white;
}
button.btn.eye--btn:hover {
    color:rgb(195, 54, 11);
    border-color:rgb(195, 54, 11);
}
/* client image */
.client--image {
    border-radius: 100%;
}

/* element appear animation */
.right--reveal{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: 1s all ease;
  }
.right--reveal.active{
    transform: translateX(0);
    opacity: 1;
  }
.left--reveal{
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: 1s all ease;
  }
.left--reveal.active{
    transform: translateX(0);
    opacity: 1;
  }
  .top--reveal {
    position: relative;
    transform: translateY(-50px);
    opacity: 0;
    transition: 1s all ease;
  }
  .top--reveal.active{
    transform: translateX(0);
    opacity: 1;
  }
  .bottom--reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
  }
  .bottom--reveal.active{
    transform: translateX(0);
    opacity: 1;
  }
  .fade--in {
    opacity:0;
    transition: 1s all ease;
  }
  .fade--in.active {
    opacity:1;
  }
  .scale--reveal {
    position:relative;
    opacity:0;
    transform: scale(.01);
    transition: 1s all ease;
  }
  .scale--reveal.active {
    transform: scale(1);
    opacity:1;
  }